@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@

<h1>My Error List</h1>
<ul>
    <li>Create, modelstate returns is false and returns me to page, didnt happen before</li>
    <li>Adjusting Finish Date with Rush Order Option (can't convert iquerable to double)</li>
    <li>Adjusting Desk Id after desk is deleted</li>
    <li>In Details option, material isn't what I set it as (but 1 above it in the options)</li>

</ul>
